In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49
!pip install psycopg2

In [2]:
%load_ext sql

In [3]:
%sql postgresql://(ID):(PW)@(Redshift Serverless end point)

In [ ]:
%%sql

DROP TABLE raw_data.price_index;

In [ ]:
%%sql
-- 물가 지수를 담을 테이블 생성
CREATE TABLE raw_data.price_index (
    "품목 명" VARCHAR(50),
    "2023.04" FLOAT,
    "2023.05" FLOAT,
    "2023.06" FLOAT,
    "2023.07" FLOAT,
    "2023.08" FLOAT,
    "2023.09" FLOAT
);

In [ ]:
%%sql
-- 카피
COPY raw_data.price_index
FROM '(csv 파일 주소)'
credentials '(IAM arn)'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

-- 저장 확인
select * from raw_data.price_index limit 10;

In [ ]:
%%sql

DROP TABLE analytics.seoul_price_index;

In [ ]:
%%sql
-- 물가 지수를 담을 테이블 생성
CREATE TABLE analytics.seoul_price_index as(
    SELECT
        "품목 명" AS "품목 명",
        '2023.04' AS "월 별",
        "2023.04" AS "가격"
    FROM
        raw_data.price_index
    UNION ALL
    SELECT
        "품목 명",
        '2023.05',
        "2023.05"
    FROM
        raw_data.price_index
    UNION ALL
    SELECT
        "품목 명",
        '2023.06',
        "2023.06"
    FROM
        raw_data.price_index
    UNION ALL
    SELECT
        "품목 명",
        '2023.07',
        "2023.07"
    FROM
        raw_data.price_index
    UNION ALL
    SELECT
        "품목 명",
        '2023.08',
        "2023.08"
    FROM
        raw_data.price_index
    UNION ALL
    SELECT
        "품목 명",
        '2023.09',
        "2023.09"
    FROM
        raw_data.price_index
);

In [ ]:
%%sql

-- 저장 확인
select * from analytics.seoul_price_index limit 10;